    <h1>Lista de productos</h1>
<div class="productsList">
    {{#each product}}
        <ul>
            <li><span>Nombre:</span> {{this.title}}</li>
            <li><span>Descripcion:</span> {{this.description}} </li>
            <li><span>Codigo:</span> {{this.code}}</li>
            <li><span>Precio:</span> ${{this.price}} </li>
            <li><span>Stock:</span> {{this.stock}}</li>
            <li><span>Categoria: </span>{{this.category}}</li>
            <li><span>Brand:</span> {{this.brand}}</li>
            <li>{{this.thumbnails}}</li>
        </ul>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>